/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

h1, h2, p {
    text-align: center;
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 1.25rem;
}

/* ================= header/navbar ================= */
header {
    background-image: url('https://www.wallpaperuse.com/wallp/48-489917_m.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    margin: 10px auto;
    flex-direction: row;
    display: flex;
    gap: 1.5rem;
}

header nav li {
    list-style: none;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

header nav a:hover {
    text-decoration: underline;
}

.main {
    padding-top: 35px;
}

.main p {
    font-size: 1.25rem;
    padding-top: 10px;
}

/* ================= Mission statement section ================= */

.mission {
    display: flex;
}

.mission .content {
    margin: auto;
}


/* ================= Portfolio section ================= */

.banner-portfolio {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcommunity.arm.com%2Fcfs-file%2F__key%2Fcommunityserver-blogs-components-weblogfiles%2F00-00-00-37-86%2Farm_2D00_embedded_2D00_blog.jpg&f=1&nofb=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    margin-top: 35px;
}

#portfolio {
    margin-top: 35px;
    width: 100%;
}

#portfolio .content .projects {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#portfolio .content .projects .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#portfolio .content .projects .project h4 {
    text-align: center;
    padding-top: 30px;
}

#portfolio .content .projects .project img {
    width: 200px;
}

/* ================= Team section ================= */

#team {
    margin-top: 35px;
}

#team .content {
    width: 100%;
    height: auto;    
}

#team h2 {
    margin-bottom: 20px;
}


.team__item img {
    width: 300px;
    margin: 35px 10px;
}

.team {
    padding: 35px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://t4.ftcdn.net/jpg/01/71/46/41/240_F_171464166_xWbzideiM8TRMqM2wO5wzKt3gfKCY8XM.jpg');
    background-size: cover;
    height: auto; /* 500px - 33rem */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.team__item h3 {
    font-size: 2rem;
}

.team__item h4 {
    font-size: 1.25rem;
    padding-top: 10px;
}

.team__item {
    text-align: center;
    color: #fff;
    
}

/* ================= Footer =================*/

footer {
    margin-top: 35px;
}

.footer__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer__item p {
    padding: 8px 0;
}

.mail {
    font-size: 1.25rem;
}

.telnumber {
    font-size: 1.15rem;
    text-align: center;
}

.copyright {
    font-size: 1.35rem;
    font-weight: bold;
}

/* ================= Media queries ================= */
